img {
    min-width: 1300px;
    object-fit: contain;
    width: 100%;
}

.navbar {
    display: flex;
}

.collapse {
    display: flex;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
}

.nav-link:focus {
    color: rgba(0, 0, 0, .7);
}

.dropdow {
    display: none;
}
.nav-right {
    float: right;
    margin: 0;
}
.navbar-collapse {
    width: 100%;
    display: flex;
    justify-content: space-between;
}