<div class="container">
<div class="heaer">
    <div class="header_top">
        <img src="../assets/logoQuyNhon.png" />
    </div>
    <div class="navbar">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/exam']">Lịch thi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/scheduling']">Sắp lịch thi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/lecture']">Giảng viên</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/student']">Sinh viên</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/account']">Tài khoản</a>
                </li>
            </ul>
            <ul class="navbar-nav nav-right">
                <li>
                    <a class="nav-link" href="#">Admin</a>
                    <ul>
                        <li class="dropdow"></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main container"><br />
    <router-outlet></router-outlet>
</div>
<div class="footer">
    <div class="footer_top">
        <hr />
    </div>
    <div class="container">
        <span class="text-muted">© 2024 My Website. All rights reserved.</span>
    </div>
</div>
</div>