<div class="table-container">
    <div>
        Ngày bắt đầu
        <select>
            <option value="1333">1333</option>
        </select>
        Ngày kết thúc
        <select>
            <option value="383838">383838</option>
        </select>
        <button>Lấy ngày</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ngày Thi</th>
                <th>Giờ thi</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td><button class="action-btn">Xóa</button></td>
            </tr>
            <!-- Các hàng dữ liệu khác -->
        </tbody>
    </table>
    <button>Lưu</button><button>Thoát</button>
</div>