.navigation {
    background-color: #2196f3;
    padding: 10px 0;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-link {
    color: #1976d2;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #1976d2;
    color: #fff;
  }
  
  /* Main Content Styles */  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;
  }
  
  .title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #333;
  }
  
  .description {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .login-link {
    display: inline-block;
    background-color: #2196f3;
    /* color: #fff; */
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .login-link:hover {
    background-color: #1976d2;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .login-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .login-form {
    width: 400px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #1976d2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .form-group button:hover {
    background-color: #1976d2;
  }
  
  .alert {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }