<hr/>
<div class="functionality">
    <a href="quanlyphong.html" class="functionality-button"><i class="fas fa-file-upload"></i> Load tập tin</a>
    <a href="quanlyphong.html" class="functionality-button"><i class="fas fa-door-open"></i> Chọn phòng</a>
    <a href="quanlyphong.html" class="functionality-button"><i class="fas fa-calendar-alt"></i> Xếp lịch</a>
    <a href="quanlyphong.html" class="functionality-button"><i class="fas fa-file-export"></i> Xuất file</a>
</div>
<hr/>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>TT</th>
                <th>Lớp HP</th>
                <th>Mã HP</th>
                <th>Tên học phần</th>
                <th>Số TC</th>
                <th>SL</th>
                <th>HT Thi</th>
                <th>Buổi</th>
                <th>Giờ thi</th>
                <th>Ngày thi</th>
                <th>Phòng thi</th>
                <th>GV chấm thi 1</th>
                <th>GV chấm thi 2</th>
                <th>CT 1</th>
                <th>CT 2</th>
                <th>Thứ</th>
                <th>Lớp</th>
                <th>Khóa</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td><button class="action-btn">Edit</button></td>
            </tr>
            <!-- Các hàng dữ liệu khác -->
        </tbody>
    </table>
</div>